.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;

  height: 100vh;
}
.heading {
  color: white;
  font-size: 30px;
}
.para {
  color: white;
  font-size: 20px;
}
